.home-page {
  background: #ced2dc;
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 1140px;
    margin: auto;
    .title {
      text-align: left;
      letter-spacing: 0px;
      color: #3d4276;
      text-transform: uppercase;
      opacity: 1;
      font-weight: 500;
    }
    .sub-title {
      text-align: left;
      font-weight: 400;
      letter-spacing: 0px;
      color: #949494;
      opacity: 1;
    }
  }
  .container {
    min-width: 800px;
    margin: auto;
    border-radius: 30px;
    background: #eeeeee;
    padding: 0;
    box-shadow: 0px 3px 10px #00000029;
    .card {
      min-height: 365px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #f7f7f7;
      border-radius: 30px;
      opacity: 1;
      .upper-half {
        display: flex;
        margin: 15px;
        justify-content: space-between;

        .play-box {
          width: 132px;
          height: 132px;
          box-shadow: 10px 10px 50px #ff724373;
          border-radius: 20px;
          opacity: 1;
          background: #ff7243;
          margin-left: 100px;
          margin-top: 50px;
          .text {
            align-items: center;
            justify-content: center;
            display: flex;
            text-align: center;
            width: 132px;
            height: 132px;
            text-align: left;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 4.4px;
            color: #424242;
            opacity: 1;
          }
        }
        .image-wrapper {
          position: relative;
          width: 520px;
          height: auto;
          .connect-four-img {
            position: absolute;
            top: -125px;
            left: 210px;
            width: 400px;
            height: auto;
          }
        }
      }
      .seperator {
        margin: 50px 25px;
        border: 1px solid #dbdbdb;
      }
      .lower-half {
        margin-left: 50px;
        margin-right: 50px;
        .custom-row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;
        }
      }
    }

    .copyright-patch {
      background: #eeeeee;
      border-radius: 30px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      opacity: 1;
      min-height: 70px;
      display: flex;
      align-items: center;
      .copyright-text {
        margin-left: 50px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-page {
    height: 100vh;
    .header {
      margin-left: 0;
      padding-left: 25px;
    }
    .container {
      min-width: 320px;

      .card {
        .upper-half {
          .play-box {
            margin-left: 0;
          }
          .image-wrapper {
            position: relative;
            width: 100%;
            height: auto;
            margin-top: 25px;
            margin-left: 25px;
            .connect-four-img {
              position: relative;
              top: 0;
              left: 0;
              width: 100%;
              height: auto;
            }
          }
        }
        .lower-half {
          margin-left: 15px;
          margin-right: 15px;
          .custom-row {
          }
        }
      }
      .copyright-patch {
        min-height: 50px;
      }
    }
  }
}
